@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
}
.mobile-container{
    display: none;
}
.container{
   display: flex;
   box-sizing: border-box;
   flex-direction: column;
} 
nav{
    display: flex;
    align-self: center;
    justify-content: space-around; 
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    width: 40%;
    margin:40px 0;
}
nav a{
    text-decoration: none;
    color: rgb(155, 155, 155);
    letter-spacing:2px;
    cursor: pointer;
}
a:hover{
    color: rgb(207, 206, 206);
    transform: scale(1.05);
} 
ion-icon{
    font-size:15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
main{
    display: flex;
    margin: 50px; 
}
main img{
    background-color: #ffffff;
    border-radius: 100% 40%;
    margin-left:100px;
    height: 40%;
    align-self: center;
}
.details{
    align-self: center;
    max-width: 500px;
}
.details h1{
    font-size:3rem;
    margin-bottom: 30px;
    letter-spacing: 3px;
    line-height: 50px;
    font-family: 'Roboto Mono', monospace;
    text-transform: capitalize;
}
p{
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 30px;
    line-height: 25px;
    color: rgb(155, 155, 155);
    font-size: 15px;
}
.links{
    display: flex;
}
.links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 15px;
}
.links a ion-icon{
    margin-right: 3px;
}
.links a span{
    font-size: 13px;
    color: rgb(155, 155, 155);
    font-family: 'Roboto Mono', monospace;
}
@media (max-width:950px) {
    .container{
        display: none;
    }
    .mobile-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin:30px; 
    }
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .mobile-nav .open{
        cursor: pointer;
        transition: top 1s ease-in;
    }
    .mobile-nav .close{
        display: none;
        cursor: pointer;
        z-index: 100;
        position: absolute;
        transition: top 1s ease-in;
    }
    nav .main-menu{
        align-items: center;
        flex-direction: column;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background-color: rgb(25, 25, 25);
        transition: top 1s ease-in;
        display: none;
        padding-top: 150px;
    }
    nav .main-menu ul{
        list-style: none;
    }
    nav .main-menu ul li{
        padding: 15px;
    }
    nav .main-menu ul li a{
        text-transform: uppercase;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .main img{
        background-color: #ffffff;
        border-radius: 50%;
        margin-bottom:10px;
        width: 150px;
        height: 150px;
        align-self: center;
    }
    .details h1{
        font-size:1.5rem;
        margin-bottom: 7px;
        text-transform: capitalize;
    }
    p{
        margin-bottom: 20px;
        line-height: 20px;
        color: rgb(155, 155, 155);
        font-size: 13px;
    }
    .links{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}